@inject HisabPro.Constants.ISharedViewLocalizer _localizer
@using HisabPro.Constants.Resources;
@model TaxResultModel
@{
    ViewData["Title"] = @_localizer.Get(ResourceKey.LabelReports);
    Layout = "~/Views/Shared/_PrivateLayout.cshtml";
}

<div class="container">
    <h2 class="mb-3 text-center">@_localizer.Get(ResourceKey.IncomeTaxResult)</h2>

    <div class="alert alert-info">@Model.ResultMessage</div>

    <ul class="list-group mb-4">
        <li class="list-group-item"><strong>@_localizer.Get(ResourceKey.AnnualIncome):</strong> ₹@(Model.AnnualIncome.ToString("N0"))</li>
        <li class="list-group-item"><strong>@_localizer.Get(ResourceKey.StandardDeduction):</strong> ₹@(Model.StandardDeduction.ToString("N0"))</li>
        <li class="list-group-item"><strong>@_localizer.Get(ResourceKey.TaxableIncome):</strong> ₹@(Model.TaxableIncome.ToString("N0"))</li>
        <li class="list-group-item"><strong>@_localizer.Get(ResourceKey.TotalTax):</strong> ₹@(Model.TaxAmount.ToString("N0"))</li>
    </ul>

    @if (Model.SlabBreakdown.Any())
    {
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>@_localizer.Get(ResourceKey.IncomeRange)</th>
                    <th class="txt-right">@_localizer.Get(ResourceKey.RatePercent)</th>
                    <th class="txt-right">@_localizer.Get(ResourceKey.TaxableAmount)</th>
                    <th class="txt-right">@_localizer.Get(ResourceKey.Tax)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var slab in Model.SlabBreakdown)
                {
                    <tr>
                        <td>@slab.SlabRange</td>
                        <td class="txt-right">@slab.Rate</td>
                        <td class="txt-right">₹@(slab.TaxableAmount.ToString("N0"))</td>
                        <td class="txt-right">₹@(slab.TaxForSlab.ToString("N0"))</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    <a asp-action="Index" class="btn btn-light btn-back border">
        <i class="bi bi-arrow-left me-2"></i> @_localizer.Get(ResourceKey.Recalculate)
    </a>
   @*  <a href="@Url.Action("Index")" class="btn btn-secondary mt-4">← @_localizer.Get(ResourceKey.Recalculate)</a> *@
</div>