@model HisabPro.Web.ViewModel.CategoryModel
@{
    ViewData["Title"] = "Items";
}

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h2 class="mb-4">Manage categories and subcategories</h2>
        </div>
        <div class="col-3">
            <a href="#" class="float-right mt-20" data-toggle="modal" data-target="#commonModal" data-content="#saveModalContent" data-title="Add Category" data-feature="AddCategory" onclick="openModal(this)">
                <i class="fas fa-plus"></i> Add Category
            </a>
        </div>
    </div>

    <!-- Grid Table -->
    <table class="table table-primary">
        <tbody>
            @foreach (var category in Model.AllCategoryList)
            {
                <tr>
                    <td>@category.Name</td>
                    <td align="right">
                        <a href="#" data-toggle="modal" data-target="#commonModal" data-parentid="@category.Id" data-id="@category.Id" data-name="@category.Name" data-content="#saveModalContent" data-title="Add Subcategory" data-feature="AddSubcategory" onclick="openModal(this)">
                            <i class="fas fa-plus"></i> Add Subcategory
                        </a>&nbsp;|&nbsp;
                        <a href="#" data-toggle="modal" data-target="#commonModal" data-id="@category.Id" data-name="@category.Name" data-content="#saveModalContent" data-title="Update Category" data-feature="UpdateCategory" onclick="openModal(this)">
                            <i class="fas fa-pencil-alt"></i> Update Category
                        </a>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <table class="table mb-0 table-light">
                            @foreach (var child in category.ChildCategories.OrderBy(c => c.Name))
                            {
                                <tr>
                                    <td>@child.Name</td>
                                    <td align="right">
                                        <a href="#" data-toggle="modal" data-target="#commonModal" data-parentid="@category.Id" data-id="@child.Id" data-name="@child.Name" data-content="#saveModalContent" data-title="Update Subcategory" data-feature="UpdateSubcategory" onclick="openModal(this)">
                                            <i class="fas fa-pencil-alt"></i> Update
                                        </a>
                                    </td>
                                </tr>
                            }
                        </table>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div id="saveModalContent" style="display: none;">
    <div id="dvParentCategory" class="form-group">
        <label for="category-name">Parent Category</label>
        <select name="parentCategoryId" id="parentCategoryId" class="form-select" aria-label="Parent Category">
            @foreach (var category in Model.ParentCategoryList)
            {
                <option value="@category.Id">@category.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label id="lblCategoryName" for="category-name">Sub Category</label>
        <input type="text" class="form-control" id="category-name" name="Name">
    </div>
</div>

@await Html.PartialAsync("_ModalPartial")

<!-- Add/Update Modal -->
@section Scripts {
    <script>
        function openModal(button) {
            var feature = $(button).data('feature');
            var parentId = $(button).data('parentid');
            switch (feature) {
                case 'AddCategory':
                case 'UpdateCategory':
                    $('#dvParentCategory').hide();
                    $('#lblCategoryName').text('Category');
                    break;
                case 'AddSubcategory':
                case 'UpdateSubcategory':
                    $('#dvParentCategory').show();
                    $('#lblCategoryName').text('Sub Category');
                    window.setTimeout(function () {
                        $('#commonModal #parentCategoryId').val(parentId);
                    }, 100);
                    break;
            }
            var targetModal = $(button).data('target');
            $(targetModal).modal('show');
        }
    </script>
}
