@model HisabPro.Web.ViewModel.GridViewModel<object>
<span id="spnTotalRec">@Model.TotalRecords</span>
@if (@Model.TotalRecords >= 1)
{
    foreach (var item in Model.Data)
    {
        <tr>
            @foreach (var column in Model.Columns)
            {
                var colAlign = string.Format("text-align:{0};", column.Align == HisabPro.Web.ViewModel.Align.Center ? "center" : column.Align == HisabPro.Web.ViewModel.Align.Right ? "right" : "left");
                var dataId = item.GetType().GetProperty("Id")?.GetValue(item, null);
                var cssName = string.IsNullOrEmpty(column.CssName) ? "" : string.Format("class='{0}'", column.CssName);
                if (column.Type == HisabPro.Web.ViewModel.Type.Edit)
                {
                    <td style="width:45px; @colAlign">
                        <a class="save-action" asp-action="Save" asp-route-id="@dataId">Edit</a>
                    </td>
                }
                else if (column.Type == HisabPro.Web.ViewModel.Type.Delete)
                {
                    <td style="width:45px; @colAlign">
                        <a class="delete-action" data-id="@dataId">Delete</a>
                    </td>
                }
                else
                {
                    var value = item.GetType().GetProperty(column.Name)?.GetValue(item, null);

                    if (column.Type == HisabPro.Web.ViewModel.Type.Date && DateTime.TryParse(value?.ToString() ?? string.Empty, out var parsedDate))
                    {
                        <td style="@colAlign" @cssName>@parsedDate.ToString("dd-MM-yyyy")</td>
                    }
                    else
                    {
                        <td style="@colAlign" @cssName>@value</td>
                    }
                }
            }
        </tr>
    }
}
else
{
    <tr><td class="grid-no-records" colspan="@Model.Columns.Count()">No Records Found!</td></tr>
}