@inject HisabPro.Constants.ISharedViewLocalizer _localizer
@using HisabPro.Constants.Resources;
@model HisabPro.DTO.Model.GridViewModel<object>
<span id="spnTotalRec">@Model.TotalRecords</span>
@if (@Model.TotalRecords >= 1)
{
    foreach (var item in Model.Data)
    {
        <tr>
            @foreach (var column in Model.Columns)
            {
                var colAlign = string.Format("text-align:{0};", column.Align == HisabPro.DTO.Model.Align.Center ? "center" : column.Align == HisabPro.DTO.Model.Align.Right ? "right" : "left");
                var dataId = item.GetType().GetProperty("Id")?.GetValue(item, null);
                var cssName = string.IsNullOrEmpty(column.CssName) ? "" : string.Format("class='{0}'", column.CssName);
                if (column.Type == HisabPro.DTO.Model.Type.Edit)
                {
                    <td style="text-align:center">
                        <button class="save-action btn btn-primary btn-sm" title="@_localizer.Get(ResourceKey.LabelEdit)" data-id="@dataId">
                            <i class="bi bi-pencil-fill"></i>
                        </button>
                    </td>
                }
                else if (column.Type == HisabPro.DTO.Model.Type.Delete)
                {
                    <td style="text-align:center">
                        <button class="delete-action btn btn-danger btn-sm" title="@_localizer.Get(ResourceKey.LabelDelete)" data-id="@dataId">
                            <i class="bi bi-trash-fill"></i>
                        </button>
                    </td>
                }
                else
                {
                    var value = item.GetType().GetProperty(column.Name)?.GetValue(item, null);

                    if (column.Type == HisabPro.DTO.Model.Type.Date && DateTime.TryParse(value?.ToString() ?? string.Empty, out var parsedDate))
                    {
                        <td style="@colAlign" @cssName>@parsedDate.ToString("dd-MM-yyyy")</td>
                    }
                    else
                    {
                        if (column.Type == HisabPro.DTO.Model.Type.Checkbox)
                        {
                            <td style="text-align:center">
                                @if(value is bool booleanValue && booleanValue)
                                {
                                    <i class="bi bi-check-circle text-success" title="@_localizer.Get(ResourceKey.LabelYes)"></i>
                                }
                                else
                                {
                                    <i class="bi bi-x-circle text-danger" title="@_localizer.Get(ResourceKey.LabelNo)"></i>
                                }
                            </td>
                        }
                        else
                        {
                            <td style="@colAlign" @cssName>@value</td>
                        }
                    }
                }
            }
        </tr>
    }
}
else
{
    <tr class="grid-no-records"><td colspan="@Model.Columns.Count()">@_localizer.Get(ResourceKey.LabelNoRecords)</td></tr>
}