@inject HisabPro.Constants.ISharedViewLocalizer _localizer
@using HisabPro.Constants.Resources;
@{
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<style type="text/css">

    body {
        font-family: Verdana;
        font-size: 14px;
        padding-top: 60px; /* Ensure content is pushed below the navbar */
    }

    #brandLogo {
        cursor: pointer;
        margin: 0px 20px 0px 0px;
    }

        #brandLogo img {
            height: 38px;
            vertical-align: middle;
        }


    .sidebar {
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #e7e9ea;
        border-right: 1px solid #dee2e6;
        padding: 1rem;
        width: 250px;
        padding-right: 1px;
    }

        .sidebar a {
            color: #212529;
            text-decoration: none;
            display: block;
            margin: 0.5rem 0;
            padding: 0.5rem;
            border-radius: 5px;
        }

            .sidebar a:hover {
                background-color: #e9ecef;
                color: #495057;
            }
    /* Highlight active submenu */
    .sidebar-menu a.active {
        background: #c4e0d4;
        font-weight: bold;
    }

    .main-content {
        margin-left: 250px; /* for sidebar */
        padding: 1.5rem;
        width: 100%;
    }

    .navbar {
        position: fixed;
        width: calc(100% - 250px);
        margin-left: 250px;
        z-index: 1030;
        top: 0px;
    }

</style>

<!-- Sidebar -->
<div class="d-flex">
    <!-- Sidebar -->
    <div class="sidebar d-flex flex-column">
        <div class="sidebar-header">
            <h4 id="brandLogo" class="text-center"><img src="~/icons/Logo-Transaparent.png" alt="HisabPro Logo"> HisabPro</h4>
        </div>
        <div class="sidebar-menu flex-grow-1 overflow-auto">
            <a asp-controller="Dashboard" asp-action="Index" class="active"><i class="bi bi-house-fill"></i> @_localizer.Get(ResourceKey.LabelDashboard)</a>

            <!-- Collapsible Menu for Admin -->
            <a class="d-flex justify-content-between align-items-center" data-menu="adminSubmenu" role="button">
                <span><i class="bi bi-person-gear"></i> @_localizer.Get(ResourceKey.LabelRoleAdmin)</span>
                <i class="menu-arrow bi bi-caret-down-fill"></i>
            </a>
            <div class="collapse" id="adminSubmenu">
                <a asp-controller="Accounts" asp-action="Index" class="ms-3"><i class="bi bi-wallet2"></i> @_localizer.Get(ResourceKey.LabelAccounts)</a>
                <a asp-controller="Category" asp-action="Index" class="ms-3"><i class="bi bi-tags"></i> @_localizer.Get(ResourceKey.LabelCategories)</a>
                <a asp-controller="Expenses" asp-action="Index" class="ms-3"><i class="bi bi-cash-stack"></i> @_localizer.Get(ResourceKey.LabelExpenses)</a>
                <a asp-controller="Incomes" asp-action="Index" class="ms-3"><i class="bi bi-graph-up-arrow"></i> @_localizer.Get(ResourceKey.LabelIncomes)</a>
                <a asp-controller="User" asp-action="Index" class="ms-3"><i class="bi bi-people"></i> @_localizer.Get(ResourceKey.LabelUsers)</a>
            </div>

            <!-- Collapsible Menu for Import -->
            <a class="d-flex justify-content-between align-items-center" data-menu="importSubmenu" role="button">
                <span><i class="bi bi-file-arrow-up"></i> @_localizer.Get(ResourceKey.LabelImports)</span>
                <i class="menu-arrow bi bi-caret-down-fill"></i>
            </a>
            <div class="collapse" id="importSubmenu">
                <a asp-controller="Import" asp-action="Expense" class="ms-3"><i class="bi bi-cash-stack"></i> @_localizer.Get(ResourceKey.LabelExpenses)</a>
                <a asp-controller="Import" asp-action="Income" class="ms-3"><i class="bi bi-cash-coin"></i> @_localizer.Get(ResourceKey.LabelIncomes)</a>
            </div>

            <!-- Collapsible Menu for Reports -->
            <a class="d-flex justify-content-between align-items-center" data-menu="reportsSubmenu" role="button">
                <span><i class="bi bi-file-earmark-bar-graph"></i> @_localizer.Get(ResourceKey.LabelReports)</span>
                <i class="menu-arrow bi bi-caret-down-fill"></i>
            </a>
            <div class="collapse" id="reportsSubmenu">
                <a href="#" class="ms-3"><i class="bi bi-clipboard-data"></i> @_localizer.Get(ResourceKey.LabelMonthlyReports)</a>
                <a href="#" class="ms-3"><i class="bi bi-pie-chart"></i> @_localizer.Get(ResourceKey.LabelAnnualReports)</a>
            </div>

            <!-- Collapsible Menu for Analytics -->
            <a class="d-flex justify-content-between align-items-center" data-menu="analyticsSubmenu" role="button">
                <span><i class="bi bi-graph-up"></i> @_localizer.Get(ResourceKey.LabelAnalytics)</span>
                <i class="menu-arrow bi bi-caret-down-fill"></i>
            </a>
            <div class="collapse" id="analyticsSubmenu">
                <a href="#" class="ms-3"><i class="bi bi-bar-chart"></i> @_localizer.Get(ResourceKey.LabelTrendAnalysis)</a>
                <a href="#" class="ms-3"><i class="bi bi-activity"></i> @_localizer.Get(ResourceKey.LabelActivityReports)</a>
            </div>

            <a href="#"><i class="bi bi-gear-fill"></i> @_localizer.Get(ResourceKey.LabelSettings)</a>
        </div>
    </div>

    <!-- Main Content -->
    <div class="main-content">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </div>

</div>

<!-- Render the Scripts section -->
@section Scripts {
    @RenderSection("Scripts", required: false)
    <script>
        $(document).ready(function () {
            $("#publicBrand, #publicMenu").hide();

            $("#brandLogo").click(function () {
                window.location.href = '/Home/Index';
            });

            // Adjust on page load and window resize
            adjustSidebarHeight();
            $(window).resize(adjustSidebarHeight);

            // Restore sidebar state from localStorage
            restoreLeftMenuState();

            // Handle click event for toggling menus
            toggleLeftMenu();

            // Highlight active link
            highlightActiveMenu();
        });

        function adjustSidebarHeight() {
            const sideHeaderHeight = $('.sidebar-header').height();
            const footerHeight = $('.footer').height();
            const windowHeight = $(window).height();
            const sidebarHeight = windowHeight - (sideHeaderHeight + footerHeight) + 10;
            //console.log('sh:' + sideHeaderHeight + ', fh: ' + footerHeight + ', wh: ' + windowHeight + ', sh: ', sidebarHeight);

            $('.sidebar').height(sidebarHeight);
        }

        function restoreLeftMenuState() {
            $(".collapse").each(function () {
                var menuId = $(this).attr("id");
                const isExpanded = JSON.parse(localStorage.getItem("sidebar_" + menuId));
                var menuArrow = $("[data-menu='" + menuId + "']").find(".menu-arrow");

                if (isExpanded === true) {
                    $(this).addClass("show"); // Keep it open
                }
                setMenuArrowIcon(menuArrow, isExpanded);
            });
        }

        function toggleLeftMenu() {
            $("[data-menu]").click(function () {
                var menuId = $(this).attr("data-menu");
                var targetMenu = $("#" + menuId);
                var menuArrow = $(this).find(".menu-arrow");

                targetMenu.collapse("toggle");

                // Store state in localStorage
                var isExpanded = menuArrow.hasClass("bi-caret-down-fill");
                localStorage.setItem("sidebar_" + menuId, JSON.stringify(isExpanded));

                setMenuArrowIcon(menuArrow, isExpanded);
            });
        }

        function highlightActiveMenu() {
            var currentUrl = window.location.pathname.toLowerCase();
            $(".sidebar-menu a").each(function () {
                $(this).removeClass("active");
                var linkHref = $(this).attr("href");
                if (linkHref && currentUrl === linkHref.toLowerCase()) {
                    $(this).addClass("active");
                }
            });
        }

        function setMenuArrowIcon(menuArrow, isExpanded) {
            if (!isExpanded) {
                menuArrow.removeClass("bi-caret-up-fill").addClass("bi-caret-down-fill");
            }
            else {
                menuArrow.removeClass("bi-caret-down-fill").addClass("bi-caret-up-fill");
            }
        }
    </script>
}