@model ResponseDTO<List<HisabPro.DTO.Response.ExpenseResponse>>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a asp-action="Save">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Date
            </th>
            <th>
                Amount
            </th>
            <th>
                Category
            </th>
            <th>
                Sub Category
            </th>
            <th>
                Account
            </th>
            <th>
                Note
            </th>
            <th>
                Is Active
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var expense in Model.Response)
        {
            <tr>
                <td>
                    @Html.DisplayFor(e => expense.Title)
                </td>
                <td>
                    @Html.DisplayFor(e => expense.ExpenseOn)
                </td>
                <td>
                    @Html.DisplayFor(e => expense.Amount)
                </td>
                <td>
                    @Html.DisplayFor(e => expense.ParentCategory)
                </td>
                <td>
                    @Html.DisplayFor(e => expense.ChildCategory)
                </td>
                <td>
                    @Html.DisplayFor(e => expense.Account)
                </td>
                <td>
                    @Html.DisplayFor(e => expense.Note)
                </td>
                <td>
                    @Html.DisplayFor(e => expense.IsActive)
                </td>
                <td>
                    <a asp-action="Save" asp-route-id="@expense.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@expense.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@await Html.PartialAsync("_ModalPartial")

@section Scripts {
    <script>
        var urlDelete = '/Expenses/Delete';
        $('.Delete').click(function () {
            var button = $(this);
            var data = { 'Data': { 'Id': button.data('id') }, 'Row': button.closest('tr'), 'Url': urlDelete };
            showConfirm('Delete Expense', null, deleteYes, data);
        });
    </script>
}
